body {
  background-color:DABE99;
}


a:link {
  text-decoration: none;
  color: 33140A;
}
a:visited{
  text-decoration: none;
  color: 33140A;
}
.title {
  color: 33140A;
text-align: center;
margin: 50px auto;
}
.navlist {
  height: 30px;
  background-color: CF9F6E;
  font-weight: bold;
  margin:auto;
  padding-top: 9px;
  Width: 250px;
  border-radius: 10px;


}
.navtext {
  padding-left:10px;
  padding-right: 5px;
  margin:auto;
}

.homescreen-image {
  height: 40%;
  margin-left: 25%;
  margin-top: 4%;
  border-radius: 10px;
}

@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  [class*="homescreen-image"] {
    height: 17%;
  }
}
.ul{
  list-style-type: circle;
}
.STupId{
  font-size: 100;
  transform: rotate(-45deg);
}

.left {
  float: left;
  margin-left: 20%;
  margin-top: 2%;
}
.right {
  float: right;
  margin-right: 20%;
  margin-top: 10%;
  font-size: 100;
  transform: rotate(-45deg);
}
.quote {
  margin-top: 25%;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}
.midtext{
  font-size: 80px;
}
